* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #66ccff, #0066ff);
    overflow-bottom: hidden;
}
.container {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 20px;
}
.container .tit {
    font-size: 26px;
    margin: 65px auto 70px auto;
}
.container input {
    width: 280px;
    height: 30px;
    text-indent: 8px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    margin: 12px auto;
    transition: 0.75s;
}
.container input:hover, .container input:focus {
    border-bottom: 1px solid blue;
    text-indent: 10px;
}
.container button {
    width: 280px;
    height: 40px;
    margin: 35px auto 40px auto;
    border: none;
    background: skyblue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.container button:hover {
    background: #3399ff;
}
.container span {
    font-size: 14px;
}

.langselect {
    transform: translate(0, 5px);
}
.langselect select {
    padding: 8px;
    outline: none;
    border: none;
}

.cpc {
    color: rgb(105, 105, 105);
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 50px;
}
.cpc a {
    color: #66ccff;
}